h1{
    border: 2px solid yellow;
}
img{
    border: 2px solid red;
}
div {
    border: 2px solid green;
}
ul{
    border: 3px solid orange;
    display: inline;
    margin-top: 20px;
}
li{
    display: inline;
    border: 2px solid black;
    padding-left: 20px;
}